[2018-04-27 06:32] jaschaio opened #3 "CURL /v1/docker-flow-swarm-listener/get-nodes return 404"
I have set up docker swarm listener like this:

[code]

If I deploy it like this the health check seems to fail each time (`task: non-zero exit (2): dockerexec: unhealthy container`) and restarts another container.

If I try to `curl` the `/v1/docker-flow-swarm-listener/get-nodes` I get a 404 not found error.

Curling any other endpoint (for example `/v1/docker-flow-swarm-listener/get-services`) d

[2018-04-27 09:53] jaschaio commented on #3
I disabled the health check and were able to retrieve these logs:
[code]

[2018-05-03 10:00] caryyu opened #4 "How can i send a notification after Rolling update completes"
As title said.

[2018-05-11 13:54] ambrons opened #5 "swarm-listener doesn't receive updates as services are created or removed"
**Description**
DF swarm listener recently started not updating when we deploy or remove our stack file from the swarm.  We've had to manually force update swarm listener or scale it to 0 and back 1 again to pick up changes.  The later still works without issue, but isn't ideal.

We are using Docker4AWS and have been using DockerFlow Proxy and Swarm listener since 17.03.  We first started seeing t

[2018-05-11 16:46] davidwmartines commented on #5
I am also seeing this issue, after running `docker service rm <service>`,  I see swarm-listener is still trying to send service creation notification to  dfp for `<service>`.

Additionally, if I create another service that uses the same `serviceDomain` as a previously removed service, swarm-listener does not send notification to dfp for the new service, but continues to send notification of remove

[2018-05-11 19:35] davidwmartines opened #6 "Not working with published port different from container port"
With a service created with port published like:
[code]
The service works when accessed directly on a swarm node on port 8081.   I have inspected the haproxy.cfg and Docker flow proxy appears to be configured correctly.    However I always get **503 no service available Error** when accessed via serviceDomain.

Simply changing the service to publish on same container port, like
[code]
and it works

[2018-05-12 21:24] dsw9742 opened #7 "Docker version(s) tested for Docker Flow services"
This is a question more than anything else. When tests are run against Docker Flow services (including DFSL but also DFP and DFM, since there are "dependencies" amongst them), which against which versions of Docker are they tested?

I ask because I was browsing the Docker for Linux issues recently in relation to [DFSL issue #3](https://github.com/docker-flow/docker-flow-swarm-listener/issues/3), a

[2018-05-12 23:47] vfarcic commented on #3
First of all, sorry for not responding earlier.

I think that there are two problems joined together. On one hand, DFSL does not handle the error well. It should present a useful error message, instead of Go stack trace. I can work on that during the next week.

The other, and more important problem, is that it fails to establish communication with `http://monitor:8080/v1/docker-flow-monitor/node/

[2018-05-13 12:03] dsw9742 commented on #3
Confirming we are also experiencing this issue when the environment variables `DF_NOTIFY_CREATE_NODE_URL` and `DF_NOTIFY_REMOVE_NODE_URL` are set. In our case, we are following the configuration details from http://monitor.dockerflow.com/config/#scrape-label-configuration-with-service-and-node-labels. I am thinking this is related to the flexible labels feature of DFM for node labels as opposed to

[2018-05-13 12:52] vfarcic commented on #4
Can you please describe your use case. Normally, I'd execute rolling update in attached mode (it's the default for a while). The command would return an exit code once all the replicas converged and, depending on that exit code I'd to one action or another. In my case that done through Jenkins as part of CD processes but the same logic should work in any other tool (e.g., Travic, CircleCI, CodeShi

[2018-05-14 02:37] caryyu commented on #4
@vfarcic Thanks for replying , It seems like  command option `--detach` of `docker service update` is good enough to reach my situation, close the issue.

[2018-05-14 02:37] #4 closed

[2018-05-14 08:16] vfarcic commented on #6
You put a wrong value in `com.df.port`. That is the port of the process inside your containers, not the port you want (but shouldn't publish). DFP communicated with your applications through internal networking. `com.df.port` should always be the port your application listens to inside containers.

As a side note, there should be no need to publish ports.

[2018-05-14 09:39] dsw9742 commented on #7
Yes, of course, that is completely reasonable! Is it the latest stable version, the latest edge version, or does it vary?

[2018-05-14 17:47] thomasjpfan commented on #3
Thanks @dsw9742 for pinging me about this. I'll look into what is going on.

[2018-05-14 19:32] thomasjpfan commented on #3
@vfarcic The stack trace comes from a previous version of DFSL. It is possible the issue is resolved with the new version.

@dsw9742 @jaschaio, Can you guys try out `dockerflow/docker-flow-swarm-listener:18.05.14-6` and see if it works for you?

[2018-05-14 20:07] thomasjpfan commented on #5
@ambrons Using your example, the following is a simplifying example that works. Maybe you can adapt it to meet your needs:

**proxy.yml**
[code]

**nginx.yml**
[code]

Then run the following:

[code]

@davidwmartines Can you provide an example of your stack where you encounter your error?

[2018-05-14 20:26] thomasjpfan commented on #3
If there is another service that is failing to start up when DFSL is started up, DFSL fails to start up properly. I am looking into this now.

[2018-05-14 20:48] dsw9742 commented on #3
I will check if 18.05.14-6 solves issue on my end tonight and report back here.

From: Thomas Fan
Sent: Monday, May 14, 3:32 PM
Subject: Re: [docker-flow/docker-flow-swarm-listener] CURL /v1/docker-flow-swarm-listener/get-nodes return 404 (#3)
To: docker-flow/docker-flow-swarm-listener
Cc: Doug Whitehead, Mention

@vfarcic<https://github.com/vfarcic> The stack trace comes from a previous version o

[2018-05-14 20:55] davidwmartines commented on #6
Oh!  That makes sense.  Sorry, I misunderstood.  Working fine now.  Thanks !

[2018-05-14 20:55] #6 closed

[2018-05-15 00:07] dsw9742 commented on #3
No luck with the latest version either. Starts up just fine but then when the stack trace logs, DSFL fails and starts all over again (for me at least, we have restart policies in place).

[code]

[2018-05-15 03:09] thomasjpfan commented on #3
@dsw9742 `dockerflow/docker-flow-swarm-listener:18.05.15-7` should fix the stack trace issue. Please see if it works for you.

[2018-05-15 10:08] dsw9742 commented on #3
@thomasjpfan confirming that the stack trace issue is resolved for us in 18.05.15-7. However, we are not yet seeing the node labels passed in the node created notifications:
[code]

[2018-05-15 10:09] vfarcic commented on #7
It's the latest stable version.

VMs are created from AMIs built with Packer. The definition is in https://github.com/vfarcic/docker-flow-hub/blob/master/packer/test-cluster.json.

I just built a new image so, starting from the next commit, it'll be Docker 18.03.

[2018-05-15 10:09] #7 closed

[2018-05-15 11:57] thomasjpfan commented on #3
@dsw9742 Can you provide an example of your stack file?

[2018-05-15 12:17] dsw9742 commented on #3
@thomasjpfan unfortunately we are not using stack files, but I might be able to copy/paste some of the CLI commands that are involved. Would that work?

[2018-05-15 12:43] thomasjpfan commented on #3
@dsw9742 Yes, cli commands would work.

[2018-05-15 12:49] dsw9742 commented on #3
OK, I will pull something together for you today.

[2018-05-15 18:51] thomasjpfan commented on #3
`dockerflow/docker-flow-swarm-listener:18.05.15-11` should fix the failing Healthcheck issue.

I am unable to reproduce the missing node labels issue. Hopefully @dsw9742's cli commands can shed some light on this issue.

[2018-05-15 20:09] dsw9742 commented on #3
@thomasjpfan I haven't forgotten about this, taking some time to get this to you. Thank you for continuing to work on this.

[2018-05-15 21:03] dsw9742 commented on #3
@thomasjpfan try this :

I tested this using Docker 18.03.1-ce and Ubuntu 18.04. I believe Docker Machine is v0.14 and Virtualbox is 5.2+.

Make sure to add an entry in your `/etc/hosts` file with IP address of the VM started by Docker Machine and pointed at `test.dfm.com`.

Running the below, then opening a browser locally and hitting test.dfm.com/targets does not show the node labels we expect t

[2018-05-15 23:54] thomasjpfan commented on #3
I edited your example with the following changes:

1. Currently, DFSL only considers node labels prefixed by `com.df.`
2. I removed the scraping prometheus itself. I do not believe it has any metrics to scrape.
3. To use `replicas_less_than_1`, `google/cadvisor` needs to be created.

[code]

[2018-05-16 10:44] dsw9742 commented on #3
@thomasjpfan I think this will work -- will also check this morning

[2018-05-17 18:47] dsw9742 commented on #3
I believe this puts us on the right path :)

Thanks @thomasjpfan !

[2018-05-19 14:13] vfarcic commented on #7
I'm not sure what you mean by adding the information to DFSL Dockerfile. It does not use any specific Docker version.

[2018-05-20 14:29] dsw9742 commented on #7
I was thinking something like a `LABEL com.df.testedDockerVersion=v18.03.1-ce` in the Dockerfile ... in hindsight, I'm not really sure how useful that would be. If anything would be a concern as it relates to Docker version, it would probably be the Docker API version in use ... and even then, I'm not sure how much that would matter, since Docker has communicated that they basically expect users t

[2018-05-21 02:34] ambrons commented on #5
@thomasjpfan I appreciate the example.  I don't think it's an understand issue unless configuration has breaking changes recently. I've been using it for two years with updates along the way with no problem.  However recently with [Docker 4 AWS cloud formation](https://console.aws.amazon.com/cloudformation/home#/stacks/new?stackName=Docker&templateURL=https://editions-us-east-1.s3.amazonaws.com/aw

[2018-05-21 03:25] thomasjpfan commented on #5
@ambrons  I did only use a `docker-machine` for my example. I will spin up a AWS cloud formation and see if I can pinpoint the error. Thanks for the additional details!

[2018-05-21 18:41] thomasjpfan commented on #5
I am still unable to reproduce this issue on AWS using `Docker version 18.03.0-ce, build 0520e24`. Here is what I did:

1. Export commonly used variables:

[code]

2. Create AWS stack with one manager for testing purposes:

[code]

3. Wait for cluster to come online:

[code]

4. Get cluster ip:

[code]

5. Log into instance:

[code]

6. Create the `proxy.yml` and `nginx.yml` from my previous comme

[2018-05-25 12:55] Munchery-DavidMichon opened #9 "No events sent when a service replica change in global replica mode"
I'm using it with docker-flow-monitor and flexible labeling. When I create a new node on the swarm, an event is correctly sent to DF_NOTIFY_CREATE_NODE_URL. However, as I have some exporters configured as global, no event is sent to DF_NOTIFY_CREATE_SERVICE_URL. It's a problem as these new replicas do not appears in targets and thus do not scrape metrics.

**Steps to reproduce the issue:**
1. Setu

[2018-05-25 13:00] Munchery-DavidMichon commented on #9
Note that a `docker-service update` actually resolve the issue. So I imagine that I would need to add this in the pipeline if I handle scaling with Jenkins. Do [Docker Flow Scaler](http://scaler.dockerflow.com/) actually handle this use-case?

[2018-05-25 18:49] thomasjpfan commented on #9
Can you test out `thomasjpfan/docker-flow-swarm-listener:6f2ff36` for your use case?

[2018-05-25 18:56] Munchery-DavidMichon commented on #9
@thomasjpfan thanks for your prompt response. I'll test it next Monday and keep you informed.

[2018-05-25 20:21] thomasjpfan commented on #9
My fix does not work. I will take another look at this.

[2018-05-27 00:44] thomasjpfan commented on #9
I have updated DFSL to send service notifications after sending node notifications. You can test this feature out in `dockerflow/docker-flow-swarm-listener:18.05.27-13`.

[2018-05-27 14:57] vce-xx commented on #5
I am having the same issue as @ambrons on current Docker for AWS 18.03.0
The swarm listener isn't catching the events (not a single log line shows up besides the ones from startup).
Scaling the listener to 0 replicas and then back to 1 forces the DFP update (@ambrons nice workaround).
Exactly as if no event was coming from /var/run/docker.sock or DFSL wasn't even listening.

My DFP config :
[code]

[2018-05-27 19:03] thomasjpfan commented on #5
@vce-xx I have upated DFSL to address a bug that may have caused this issue. Please try `dockerflow/docker-flow-swarm-listener:18.05.27-15` and see if it fixes your issue.

I am in the process to adding a DEBUG logging flag to DFSL to make it easier to debug issues in the future.

[2018-05-27 19:09] thomasjpfan commented on #5
You can observe the events emitted by docker swarm by running `docker events` https://docs.docker.com/engine/reference/commandline/events/. To specify service events run `docker events --filter type=service`.

[2018-05-27 19:27] vce-xx commented on #5
I had the same idea and launched `docker events` command  (but without the filter on services) and the result is interesting : it keeps firing a triplet of (container exec_create, container exec_start, container exec_die) events from the swarm-listener.

Even with latest 18.05.27-15 :
[code]

[2018-05-27 19:35] thomasjpfan commented on #5
Did you see a `service create` event in the beginning?

[2018-05-27 19:38] vce-xx commented on #5
Yes

``
2018-05-27T19:01:08.115101362Z container exec_create: /bin/sh -c check.sh
492a7f004d7725e67834b47bc72fc245cfd99dda2e421f08dd28f2d3d60e29a4 (com.docker.stack.namespace=my-proxy,
com.docker.swarm.node.id=9i8857es9ngyvyb0q7zeq0ixb, com.docker.swarm.service.id=6wlj3hjfliyhhso7ep76l2ybn,
com.docker.swarm.service.name=my-proxy_my-proxy, com.docker.swarm.task=, com.docker.swarm.task.id=1issch43i7

[2018-05-27 19:47] vce-xx commented on #5
What puzzles me even more now is that `docker events --filter type=service` didn't report anything when executing :
[code]

[2018-05-27 19:52] thomasjpfan commented on #5
The `exec_create`, `exec_start`, `exec_die` cycle runs because of the healthcheck. The container/service does not shutdown since the healthcheck returns a status code of 0.

I'm looking for a service event, something similar to this:

[code]

Can you have two windows open, one with `docker events --filter type=service` and `docker events --filter type=container` on your nginx service and copy the

[2018-05-27 20:51] vce-xx commented on #5
The healthcheck. Nice !
So I disabled it for clarity of the output :
[code]
So running side by side the two commands then running `docker service create --name test --label "com.df.notify=true" --label "com.df.distribute=true" --label "com.df.servicePath=/hello" --label "com.df.port=4443" nginx` and `docker service rm test`
With `docker events` no output (void).
With `docker events --filter type=s

[2018-05-27 20:58] thomasjpfan commented on #5
That is really strange. I think I need to directly test this on AWS with your configuration. Can you detail how you are starting up your AWS instance?

[2018-05-27 21:01] vce-xx commented on #5
I am using [Docker for AWS](https://docs.docker.com/docker-for-aws/#quickstart) stable channel.

[2018-05-27 21:47] thomasjpfan commented on #5
@vce-xx What region are you in?

[2018-05-27 23:12] thomasjpfan commented on #5
@vce-xx I just launched us-east AWS instances with 3 managers (`Docker version 18.03.0-ce`), and used the following stack files:

### proxy.yml

[code]

### nginx.yml

[code]

And ran:

[code]

Everything seemed to be working correctly, here is a screenshot of my session:

<img width="2027" alt="screen shot 2018-05-27 at 6 52 44 pm" src="https://user-images.githubusercontent.com/5402633/40591461-d

[2018-05-28 10:33] vce-xx commented on #5
@thomasjpfan eu-west-1 region

[2018-05-28 10:38] vce-xx commented on #5
Looks like others have had similar issues : ["docker events" not showing service events](https://github.com/docker/for-linux/issues/101)

[2018-05-28 11:36] Munchery-DavidMichon commented on #9
@thomasjpfan I tested and it works perfectly! 👍

As a side note, and it's related to docker and not to docker-flow-swarm-listener, when a node is put down, services in replica mode global also scale down. This means that if we rely on prometheus targets "up" status to detect unavailable nodes it never works.

<img width="955" alt="screen shot 2018-05-28 at 08 34 25" src="https://user-images.github

[2018-05-28 14:32] thomasjpfan commented on #5
If the `docker events` API is unreliable, I may need to add polling back into DFSL.

[2018-05-28 14:46] thomasjpfan commented on #9
@Munchery-DavidMichon When a node is drained or goes down, DFSL will notify DFM on the updated list of running exporters. That means the exporter on the drained/down node will be removed from the target list.

Theoretically, if DFM was setup to keep metrics from downed nodes, that target list will become larger through time. What would be a good indicator to remove the metric from the list?

[2018-05-28 14:49] dsw9742 commented on #5
@thomasjpfan would it be possible to use both? E.g. rely primarily on the `docker events API` for real-time notifications, but periodically poll to see if anything is "different" than DFSL "thinks" it should be? Maybe the comparison could be between the polled version of node/service states according to Docker Remote API and a limited version of the internal DFSL queue?

[2018-05-28 15:05] thomasjpfan commented on #5
@dsw9742 Thanks for the suggestion! I like the idea of having both polling and the docker event API in DFSL.

[2018-05-28 15:12] vce-xx commented on #5
@thomasjpfan The Docker for AWS stack I am using is the one with an existing vpc.
Is it possible that something wrong in my vpc would prevent docker events from working (with everything else working fine) ?

[2018-05-28 15:15] Munchery-DavidMichon commented on #9
I strongly believe that DFM and DFSL works exactly the way we expect them to work because it reflect exactly what docker API gives.

In my opinion the issue is more on docker. When you set a service as global and a node is down, the service replicas should be in a state 5/6 (in my case), and not 5/5. I mean, I want a global deployment of my services so 1 for every node of my cluster. My cluster co

[2018-05-28 20:20] vfarcic commented on #5
I guess that networking could prevent information from being propagated to all the masters. It could happen that a command is issued to one master which schedules a service onto itself, but DFSL is running on another and never gets that information. It's not very likely though since in that scenario quorum would be lost as well and none of the masters would be operational.

[2018-05-29 01:38] LelandSindt commented on #5
FWIW in the past I have seen this behaviour. (DFSL not seeing services created in the swarm) but I could not reproduce it reliably, so I did not report it. I found that restarting the DFSL service -or- rebooting the cluster brought everything back in line and working. Heavy handed, but it worked.

Seeing the reference to https://github.com/docker/for-linux/issues/101 I would like to think that thi

[2018-05-29 01:45] LelandSindt commented on #5
... what are the chances that the DFSL service is quietly loosing it's connection to /var/run/docker.sock and not re-opening it?

[2018-05-29 02:34] thomasjpfan commented on #5
@LelandSindt, @vce-xx reported that running `docker events` did not produce any outputs when creating or removing events, which makes me think its a `docker events` bug.

For reference here is another related issue: https://github.com/moby/moby/issues/36834.

It would be great if this can be fixed in Docker. Since this issue is not easy to reproduce, it may be hard to find where the issue is.

In

[2018-05-29 07:47] vce-xx commented on #5
@thomasjpfan This [No Service Events in Production Swarm](https://github.com/moby/moby/issues/36834) issue you found with same docker version is very relevant. The author said that downgrading to 17.12 fixed it, but only for a few days. So it can work for a while and then eventually break at some point.

[2018-05-29 07:49] vce-xx commented on #5
@thomasjpfan I like the idea adding polling back into DFSL as a fallback solution in the mean time.

[2018-05-29 12:46] dsw9742 commented on #9
@Munchery-DavidMichon I'm following this now, since we're interested in this problem as well. I'm curious if you can get [docker-socat](https://github.com/bvis/docker-socat) running in your stack, and if the [Docker metrics](https://docs.docker.com/config/thirdparty/prometheus/) it presents contain the right info to solve for this use-case. We have not been able to successfully deploy docker-socat

[2018-05-29 23:30] dsw9742 commented on #9
@Munchery-DavidMichon thanks for the write-up! I will be sure to pass this along to our team for feedback.

[2018-05-31 02:21] thomasjpfan commented on #5
Service polling is now supported in `dockerflow/docker-flow-swarm-listener:18.05.31-18`. This update includes two new environment variables:

1.  If `DF_SERVICE_POLLING_INTERVAL>0`, service polling is activated with that number of seconds between polling intervals. If `DF_SERVICE_POLLING_INTERVAL<=0`, service polling is not used. The default is `DF_SERVICE_POLLING_INTERVAL=-1`.

2. If `DF_USE_DOCK

[2018-05-31 09:26] dsw9742 commented on #5
Can both options be enabled simultaneously?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thomas Fan <notifications@github.com>
Sent: Wednesday, May 30, 2018 10:21:31 PM
To: docker-flow/docker-flow-swarm-listener
Cc: Doug Whitehead; Mention
Subject: Re: [docker-flow/docker-flow-swarm-listener] swarm-listener doesn't receive updates as services are created

[2018-05-31 10:36] dsw9742 commented on #5
Answering my own question: based on my own limited tests, it appears not. Additionally, it looks like `DF_USE_DOCKER_SERVICE_EVENTS` must explicitly be configured to `false` if `DF_SERVICE_POLLING_INTERVAL` is configured to be `>0`, else the polling doesn't quite work as expected ([at least for me -- still ended up with just one Prometheus target for the service I tested whereas we should have had

[2018-05-31 12:35] thomasjpfan commented on #5
1. Pooling and events should be able to function at the same time.

2. The DFM issue is an issue about DFSL using `DF_INCLUDE_NODE_IP_INFO=true` and sending notifications when an image is updated. It was an issue before polling was introduced.

[2018-05-31 13:29] thomasjpfan commented on #5
I have fixed a bug with using polling and events together. The updated version is at `dockerflow/docker-flow-swarm-listener:18.05.31-20`.

[2018-05-31 14:18] Munchery-DavidMichon commented on #9
We can consider this issue resolved.

[2018-05-31 14:18] #9 closed

[2018-05-31 15:03] gudmojo opened #14 "swarm-listener is no longer responding on port 8080"
**Description**

After weeks of running healthy, now after redeployment it seems that swarm-listener is no longer responding on port 8080. This may be a configuration error on my part, but I'm not able to figure it out, and the logs of swarm-listener are not indicating anything helpful.

**Steps to reproduce the issue:**
1. start image `vfarcic/docker-flow-swarm-listener:18.04.02-1` as a swarm ser

[2018-05-31 15:12] gudmojo commented on #14
same problem using `dockerflow/docker-flow-swarm-listener:18.05.31-20`

[2018-05-31 19:20] dsw9742 commented on #5
@thomasjpfan thank you

[2018-06-01 12:33] gudmojo commented on #14
This was caused by a huge mistake. I accidentally used the swarm-listener image instead of docker-flow-monitor, so the above symptoms appeared when the real swarm-listener got unexpected response from the docker-flow-monitor. The logs should have given some warning.

[2018-06-01 14:00] thomasjpfan commented on #14
@gudmojo Can provide the stack files that you used to get your error? I can add the logs needed to make it easier for future users.

[2018-06-02 15:07] #3 closed

[2018-06-07 20:18] MattAtTTU commented on #5
I am still seeing this issue or one that's very similar and I've upgraded to docker-flow-swarm-listener:18.06.03-26 and docker-flow-proxy:18.05.26-51.  Was the bug fixed by @thomasjpfan pulled into the build for 18.06.03-26?  The issue I see is that when a service is created for the first time or updated, I get a 503 error when I browse to the URL until I restart the listener service.

[2018-06-07 20:34] thomasjpfan commented on #5
@MattAtTTU Where are you running DFSL and what docker version is it?

[2018-06-07 20:55] thomasjpfan commented on #5
@MattAtTTU Can you test your setup with  18.03.1-ce?

[2018-06-08 12:40] lgazo commented on #5
I have stumbled upon one fact with similar setup. I have defined 2 replicas of DFP. I constantly but randomly come to the situation where one container of DFP has obsolete configuration then the other and my service calls are failing randomly (HTTP 503 from DFP).

Can this be related to this issue or is it something different? How does DFSL propagate the information about service update to all DFP

[2018-06-08 12:54] thomasjpfan commented on #5
@lgazo DFSL is pretty simple, it listens for docker service events, waits for the service to be up, checks if its new or updated, and sends **one** notification to DFP through HTTP. I recently added service polling, because the docker events API may be buggy (depending on the version). You can use this feature by setting the ENV variable `DF_SERVICE_POLLING_INTERVAL` to a number greater than zero.

[2018-06-08 18:20] MattAtTTU commented on #5
@thomasjpfan  As far as I can tell, upgrading to 18.03.1-ce resolved the issue.  Do you know what it is in that release that works better than the previous?

[2018-06-09 20:02] vfarcic commented on #5
@MattAtTTU Do you think we can close the issue now that the upgrade fixed it? Maybe add a note to the docs to use 18.03.1 or newer?

[2018-06-11 13:23] MattAtTTU commented on #5
@vfarcic Yes, I think so.

[2018-06-12 20:47] #5 closed

[2018-06-22 11:26] NikolayMurha opened #18 "Error: value method _/src/service.SwarmServiceClient.SwarmServiceList called using nil *SwarmServiceClient pointer"
**Description**
Hello.
I have problems with docker-flow-swarm-listener on production.
When I make API call, I have empty response and errors in log (log in "Additional information" section):

`http://<swarm-listener-host>:8080/v1/docker-flow-swarm-listener/get-nodes`
`http://<swarm-listener-host>:8080/v1/docker-flow-swarm-listener/get-services`

Previously, the service worked fine, but after rebui

[2018-06-26 15:29] thomasjpfan commented on #18
Thanks for reporting this bug. I am looking into it.

[2018-06-26 18:09] thomasjpfan commented on #18
I updated DFSL to allow `/get-*` endpoint requests without setting any of the `DF_NOTIFY_*` env variables. Please try this out in `dockerflow/docker-flow-swarm-listener:18.06.26-27`.

[2018-06-30 23:19] vfarcic commented on #14
Closing due to inactivity.

[2018-06-30 23:19] #14 closed

[2018-07-11 10:16] dsw9742 opened #19 "DFSL drops URL parameters from environment variables"
Filing a bug report:

**Description**

DFSL fails to include or removes URL parameters included in values provided to DF_NOTIFY_CREATE_SERVICE_URL, DF_NOTIFY_REMOVE_SERVICE_URL, DF_NOTIFY_CREATE_NODE_URL, and DF_NOTIFY_REMOVE_NODE_URL environment variables.

**Steps to reproduce the issue:**
1. `docker service create --name swarm-listener --constraint node.role==manager --mount type=bind,source=/v

[2018-07-11 10:28] dsw9742 opened #20 "feature request: allow HTTP method specification for notification URLs"
Skimming the present code, it appears as though all requests from DFSL to another endpoint are made using the HTTP GET method. It would be nice to be able to specify which HTTP method to use for each value provided to configuration URLs, e.g. if I had three comma-separated values provided to DF_NOTIFY_CREATE_SERVICE_URL then I could override the default GET method by specifying the corresponding v

[2018-07-11 10:42] dsw9742 opened #21 "feature request: secrets for credentials in notification requests"
Current DFSL API requires basic authentication credentials be included in clear-text in the values provided to the notification URLs, e.g. `--env DF_NOTIFY_CREATE_SERVICE_URL=http://username:passwordortoken@test.org/service/createOrUpdate`. It would be ideal if credentials could be provided in a more secure manner, perhaps using Docker secrets instead, e.g. similar to [how DFP handles sensitive in

[2018-07-20 13:36] thomasjpfan commented on #20
I will look into this feature request.

[2018-07-21 09:48] #18 closed

[2018-07-22 04:05] thomasjpfan commented on #20
I added this feature in `dockerflow/docker-flow-swarm-listener:18.07.22-30`. Please test it out and see if it works for you.

[2018-07-31 15:03] thomasjpfan commented on #21
I propose the following implementation:

DFSL will look for a secret named `df_notify_create_service_url` which contains a comma separated list of urls. These urls will be added to the list of urls DFSL is sending create notifications to. The other secrets will be named `df_notify_remove_service_url`, `df_notify_create_node_url `, `df_notify_remove_node_url`.

@dsw9742 What do you think?

[2018-07-31 22:30] dsw9742 commented on #21
This is much better than my suggestion. I think it sounds great

[2018-08-01 20:14] thomasjpfan commented on #21
@dsw9742 This feature was added in `dockerflow/docker-flow-swarm-listener:18.08.01-31`. Please test it out and see if it works for your use case.

[2018-08-18 10:16] vfarcic commented on #19
Closing due to inactivity.

[2018-08-18 10:16] #19 closed

[2018-08-20 03:36] anomaly256 opened #23 "Feature Request: option to pass more labels in removal notification"
Hi, I'm currently using docker flow swarm listener to trigger some additional actions via http on service creation/removal. However I notice it doesn't pass the additional com.df.* labels I'm using on service removal. Is it possible to add this as an option?  Or is it a limitation of docker that swarm listener can't see the additional labels at that point?

Thanks

[2018-08-20 15:11] thomasjpfan commented on #23
DFSL does hold on to the service labels, so it is technically possible to send the `com.df.*` labels during service removal. What are you planning to do with the labels during service removal?

[2018-08-20 21:33] anomaly256 commented on #23
Well for example, currently I have an http endpoint in DF_NOTIFY_CREATE_SERVICE_URL which uses additional com.df.* labels to add dns records to an internal dev dns zone; the host, record type, and data are defined by the values of the labels when a service is deployed.  This is working pretty well.  It would be nice to have DF_NOTIFY_REMOVE_SERVICE_URL pass the labels through the query string as w

[2018-08-20 23:00] thomasjpfan commented on #23
Thank you for the information!

I have updated DFSL to include `com.df.*` labels in remove notifications. You can test out this feature with `dockerflow/docker-flow-swarm-listener:18.08.20-32`.

[2018-08-20 23:32] anomaly256 commented on #23
Thanks!  I'll give it a try today

[2018-08-21 11:04] anomaly256 commented on #23
Works perfectly, thanks again

[2018-08-22 04:35] anomaly256 commented on #23
Hi @thomasjpfan, in testing I discovered that a query param I add to the remove URL isn't being passed through, while one in the create URL is, then I noticed #19 and 415d30f which recently added this to Create().  Would it be ok to have this applied to the Remove() func as well?

[2018-08-22 14:27] thomasjpfan commented on #23
Your requested feature has been added to `dockerflow/docker-flow-swarm-listener:18.08.22-33`. Please test it out and see if it works for your use case.

[2018-08-23 03:37] anomaly256 commented on #23
Yep, perfect.  Thanks yet again, appreciated

[2018-08-23 03:37] #23 closed

[2018-08-24 11:47] vfarcic opened #26 "A new cluster"
@thomasjpfan I'm in the process of moving everything to a new cluster (GCE). For now, Jenkins running in that cluster is accessible through http://jenkins2.dockerflow.com. At the moment, only `docker-flow-swarm-listener` job is moved there.

[2018-08-24 11:47] #26 closed

[2018-08-24 14:55] thomasjpfan commented on #26
Thank you for the update!

[2018-08-24 16:44] vfarcic commented on #26
All the apps are transitioned. The only important difference is that Jenkins address is now jenkins2.dockerflow.com.

[2018-08-25 12:51] #20 closed

[2018-08-25 19:05] thomasjpfan commented on #26
@vfarcic Can you update Jenkins to allow PRs to be tested?

[2018-08-25 22:28] #21 closed

[2018-08-25 22:34] vfarcic commented on #26
It's done. You'll have to push a dummy commit to that PR to start a build.

[2018-09-20 13:15] audunhalland opened #28 "Feature request: Notification for updated services"
Use case: I have docker-flow-proxy and docker-flow-swarm-listener running, managing proxying into my own docker services (defined in a separate swarm stack file). A CI job redeploys the stacks whenever we change stack files. Sometimes we change `com.df.*` labels for an already existing service, and expect DFP to get reconfigured automatically, but it doesn't. It only works for newly added services

[2018-09-20 13:47] thomasjpfan commented on #28
The website is incorrect. DFSL does post create notifications when there are changes in `com.df.*` labels.

What version of DFSL are you using? Can you give an example of how you are experience this issue?

[2018-09-20 13:52] thomasjpfan commented on #28
You can test out this feature by:

[code]

This will print the logs of DFSL. In another session, you can change the labels on the `whoami` service:

[code]

In the DFSL logs, you should be able to see the `hello` parameter change as you update the `com.df.*` labels:

[code]

[2018-09-20 19:48] audunhalland commented on #28
I tried this locally with docker for mac and it works well. However it is broken in my cloud environments (docker for AWS) and with your help I have roughly tracked it down to `docker events` not outputting any service events (in neither of our 3 swarm environments).

Greatly appreciated!

[2018-09-20 19:48] #28 closed

[2018-09-20 19:52] thomasjpfan commented on #28
@audunhalland If there is a docker events issue, you can set the environmental variable: `DF_SERVICE_POLLING_INTERVAL` in DFSL to a positive number, such as `20`. This tells DFSL to poll the docker api every 20 seconds for changes in your services.

[2018-09-20 19:56] audunhalland commented on #28
Yes, I could try that, but polling is not that ideal, let's see. Thanks again.

[2018-11-13 13:36] hatched-DavidMichon commented on #28
@thomasjpfan I am facing an issue that might be related to how events are managed when scaling service.

When I asked for more replicas for my service and there's no suitable node because of insufficient memory, no notification is generated by DFSL. This is problematic because I would like that my `@replicas_running` alerts in alertmanager to be updated to reflect the change of expected replicas.

[2018-11-13 16:13] thomasjpfan commented on #28
@hatched-DavidMichon Currently, DFSL waits for the service to converge before sending out the notification. In your case, since there are not enough memory, the service never converges, thus DFSL does not send out this notification. DFSL waits for services to converge, allowing for DFP to be more stable and not receive services that have not come up yet.

Given that, I can see a few ways to work a

[2018-11-13 16:18] hatched-DavidMichon opened #36 "Miss notifications on services not yet converged"
I am facing an issue that might be related to how events are managed when scaling service.

When I asked for more replicas for my service and there's no suitable node because of insufficient memory, no notification is generated by DFSL. This is problematic because I would like that my `@replicas_running` alerts in alertmanager to be updated to reflect the change of expected replicas.

I can see ho

[2018-11-13 16:21] hatched-DavidMichon commented on #28
@thomasjpfan I opened a new issue regarding this problem. Thanks for your prompt reply! At you disposal to discuss and test workaround solutions.

[2018-11-15 14:55] nlevee opened #37 "nodeInfo missing on create service notif"
**Description**

The nodeInfo parameter is not present in the service notification some times...

My docker-compose
[code]

**Steps to reproduce the issue:**
1. Restart docker (dockerflow/docker-flow-swarm-listener:18.11.07-18)

**Results received:**

[code]

**Results expected:**

[code]

[2018-11-16 14:42] thomasjpfan commented on #37
How is `udm_webapp_webapp-admin-http` defined?

[2018-11-19 10:49] nlevee commented on #37
I use the label definition :

[code]

[2018-11-21 21:09] thomasjpfan commented on #36
There was an update to DFSL that caused it to wait for services to converge before sending out notifications. This lead to DFP behaving better, since DFSL will only update DFP if the service is up.

I can see two options to adjust DFSL for your use case:

1. Set a flag in DFSL to NOT wait for services to converge before sending a notification.
2. Send a notification for when the number of replicas

[2018-11-22 18:41] hatched-DavidMichon commented on #36
I understand that for DFP to get the notification when the services converged is better. Of course this pose a problem for the `@replicas_running` [alert shortcuts](https://monitor.dockerflow.com/usage/#alertif-parameter-shortcuts).

I'm not sure the second option would cover my use case because what I need is the replicas parameter in the create notification to be the desired replicas and not the

[2018-11-22 19:09] thomasjpfan commented on #36
Currently, DFSL only sends the desired number of replicas. From my understanding, the issue you have is when you increase the number of replicas, and there are no resources, DFM is not notified of the new desired number of replicas because the service did not converge.

Looking at the `@replicas_running` query, this may open up another option:

3. Send a CREATE notification when there is at least

[2018-11-22 19:37] hatched-DavidMichon commented on #36
Yes this is exactly what happens, when I increase the number of replicas, and there are not enough resources, DFM is not notified of the new desired number of replicas because the service did not converge.

This 3rd option also works for my use case. This way the `@replicas_running` will receive the desired number of replicas as long as at least 1 service is created. I designed my nodes and placem

[2018-11-22 20:30] thomasjpfan commented on #36
Hm, for DFSL to work for this use case, it looks like a create notification must be sent even before one service is up. A flag such as `DF_NOTIFY_CREATE_SERVICE_IMMEDIATELY` could be added activate this feature. This flag should be only be used with DFM and not DFP. Additionally, if this flag is set, there will be two notifications, one for sent immediately, and another sent when the service conve

[2018-11-22 20:48] hatched-DavidMichon commented on #36
Ok, it makes sense, would be fantastic to have this flag! I actually only use DFM and rely on traefik for the proxy. Also if someone use DFP, there's always the option to configure 2 DFSL services, one only for DFM and the other for DFP.

Implementing this solve 100% my use case. I'm very grateful for your help, many thx!

[2018-11-22 23:29] thomasjpfan commented on #37
In your original post, you state that does sometimes happens. Are you able to pinpoint when exactly it happens?

[2018-11-23 09:29] psenicka1301 opened #38 "com.df.notify label ignores false"
**Description**

we defined labels for our service in yml file:
version: "3.4"

services:
  my-service:
     ...
	  labels:
		- com.df.notify=false
		- com.df.notifyAcc=true
		- com.df.distribute=true
     ....

For listener environment we defined:
my-proxy-swarm-listener:
    image: dockerflow/docker-flow-swarm-listener:18.06.03-26
    ...
  environment:
      - DF_NOTIFY_LABEL=com.df.notifyAcc

[2018-11-28 16:59] thomasjpfan commented on #36
Please try `dockerflow/docker-flow-swarm-listener:18.11.28-19` with `DF_NOTIFY_CREATE_SERVICE_IMMEDIATELY=true` and see if it resolves your issue.

[2018-11-30 11:34] hatched-DavidMichon commented on #36
@thomasjpfan Thanks for the release. I'll test it next week and let you know the result.

[2018-12-03 19:21] hatched-DavidMichon commented on #36
@thomasjpfan I confirmed your release solve my issue. That is awesome! Many thx!

[2018-12-03 19:21] #36 closed

[2018-12-22 19:02] nlevee opened #40 "Notification if container is unealthy > renew"
Is the listener is capable of sending notification if a container in a service is unhealthy then renew ?

Thanks

[2018-12-22 19:04] nlevee commented on #37
it's happen i think when a service is updated with

docker stack deploy --prune ...

[2019-01-02 11:02] nlevee commented on #37
When I restart the listener every notification are send like this :

http://IP_GATEWAY/reconfigure.php?consulName=front-http&distribute=true&port=80&replicas=3&scrapeNetwork=***_webapp_default&serviceName=***_webapp_webapp-front-http&stackName=***_webapp

The nodeInfo is empty but the number of replicas is ok.

[2019-01-02 11:04] nlevee commented on #40
This is not what happen with version 18.11.28-19 : when my service is unhealthy, docker swarm kill the container and restart another one. But the listener don't send any notification.

Do you need more information ?

[2019-01-02 14:55] thomasjpfan commented on #40
Can you provide information about how your service is set up?

[2019-01-02 14:57] thomasjpfan commented on #37
Is DFSL able to access the overlay network that the service is connected to?

[2019-01-02 17:56] nlevee commented on #37
My swarm listener is in a stack separate from the others :

[code]

Exemple of my web stack :
[code]

Is that a problem ?

[2019-01-02 18:00] nlevee commented on #40
my services are set up like this :

[code]

[2019-01-03 01:19] thomasjpfan commented on #40
As a debugging option, can you listen to docker events by running: `docker events -f type=service` and see what events firing when:

1. Service starts
2. Service gets unhealthy
3. Server becomes healthy

I didn't ask before, does your service become healthy at some point?

[2019-01-03 03:48] thomasjpfan commented on #37
Check that the `front-gateway` service is connected to the `xxxxxx_webapp_default` overlay network. (Also `xxxxxx_webapp_default` needs to be an overlay network).

[2019-01-03 11:20] nlevee commented on #37
ok I try and give you feedback. Thanks

[2019-01-03 11:43] nlevee commented on #40
So I try the command :
`docker events -f type=service`

sample of response :

[code]

I cannot make my service unhealthy right know, but I tried to kill a container in a service, nothing is fired up in service events. Is that normal ?

[2019-01-03 19:35] thomasjpfan commented on #40
When you kill the container, does the service start up again? If I recall, this would not fire an **service** event.

[2019-01-29 08:01] sguilly commented on #40
We have the same issue when a container exit and when docker restart it.

[2019-01-29 19:22] thomasjpfan commented on #40
@sguilly May you provide more details about your issue?

[2019-02-04 09:02] Mualig commented on #40
Answering for @sguilly: when one of our container exits (normal operation or killed by an error) and is restarted by docker swarm, the listener doesn't "see" the new container. The restart is set in docker-compose:
`
version: '3.4'

networks:
  proxy_proxy:
    external: true

services:

  api:
    image: <our api>

    networks:
      - proxy_proxy

    deploy:
      mode: replicated
      replic

[2019-02-05 15:55] thomasjpfan commented on #40
@Mualig Which docker version are you using?

[2019-02-06 07:49] Mualig commented on #40
We have multiple nodes in our swarm. Monitor is always deployed on a node with docker 18.06.1-ce (this version is on the majority of the nodes), but some are on docker 18.03.1-ce and one is on docker 18.09.0.

[2019-02-07 14:30] lgazo commented on #38
hi @vfarcic , when do you plan to release new version with this fix?

[2019-02-07 17:40] thomasjpfan commented on #38
This should be fixed. Please try the latest release: `dockerflow/docker-flow-swarm-listener:19.01.12-20`

[2020-03-29 18:02] green3g opened #42 "Can't get proxy to work with subdomains - 503 errors"
**Description**

I'm trying to get proxy to work with the labels `com.df.hostname: pihole.local` but proxy always returns 503 errors.
![image](https://user-images.githubusercontent.com/5471079/77856916-1056b980-71c0-11ea-88d9-e8cec1531e01.png)

**Steps to reproduce the issue:**
I'm using this with pihole, for example:
[code]

proxy stack compose file:
[code]

**Additional information you deem impo

[2020-03-30 14:41] green3g commented on #42
So a few notes -

A. my docker network was messed up somehow. Re-creating the swarm allowed the machines to talk to each other correctly so that was the major issue.
B. The other issue was I needed to use `serviceHost` instead of `hostname`.

[2020-03-30 14:41] #42 closed, assigned to nobody

[2021-06-04 18:21] jmorenoamor opened #43 "HTTPS notifications fail"
**Description**

When sending notifications to HTTPS endpoints, swarmlistener does not recognize the certificate and keeps retrying

[code]

This happens with correct certificates.

**Steps to reproduce the issue:**
1. Set notification URL to Retrying service created notification to https://jsonplaceholder.typicode.com/posts/1

**Describe the results you received:**

[code]

**Describe the results

[2021-06-04 20:45] vfarcic commented on #43
The project is not maintained anymore. It's been years since the last release. Essentially, Docker Swarm died a while ago, most of its users moved to Kubernetes so there was no need anymore to keep this project running.

[2021-06-06 06:43] jmorenoamor commented on #43
Ok, thanks,

[2021-06-06 06:43] #43 closed, assigned to nobody

[2021-08-27 21:53] dazinator opened #44 "Create Node and Remove Node "Methods""
Hi, thanks for this project - it seems useful!

I am using this docker image to receive the requests sent from this swarm listener: https://github.com/JanneMattila/Echo
It listens for `POST requests on /api/echo
I noticed that there are environment variables so you can set the service create and remove HTTP methods to POST (instead of GET), but I could not see in the docs the ability to set the sa

[2021-08-27 22:11] dazinator opened #45 "Document requests"
I'm experimenting with using docker flow swarm listener as a means to notify my own endpoint with information about new services that join the swarm.

The reason for this, is because I would like to auto provision a secret for new services, that will be used for service to service authentication (it's an oauth client secret for the `client credentials` oauth flow that I'd be planning to use betwee

[2021-08-27 22:21] dazinator commented on #45
This is what I have figured out so far, I have a single node cluster so I am not able to see what is generated for when nodes are added or removed:

# Swarm listener

The swarm listener is designed to listen to the following docker swarm events (or poll docker) and send an HTTP notification to some URL when events are detected with more information:-

- Service created
- Service destroyed
- Node c

[2021-09-02 15:36] vfarcic commented on #45
This repo hasn't received any commits for a few years now. Since almost everyone moved to Kubernetes (me included), there is close to no activity with Docker Swarm (in general, as well as in Docker Flow repos). That being said, it would be great if existing Docker Swarm users would like to pick it up and continue the work.

[2022-02-10 17:21] dazinator opened #46 "Include other labels in notification outside the com.df namespace?"
At the moment, information about a service inlcuidng it's labels, are sent as query string values in the notification:

Above, the `madeup=foo` is being sent by this swarm listener because the service has a label:

[code]

So by virtue of the service having a label prefixed with `com.df.` that label value gets included in the notification with the `com.df` stripped.

I'd love to re-use this listen

[2022-02-10 17:31] vfarcic commented on #46
This project does not have active maintainers anymore. Almost all Swarm users moved to Kubernetes, including maintainers of this project. If you'd like to create a PR I'd be more than happy to merge it or make you repo admin if you'd like to be involved more.